/AddPencilsTest.class
/Addition.class
/AdditionTest.class
/AllTests.class
/AnnotationsTest.class
/AssertionsExample.class
/CalculateTest.class
/FirstDayAtSchool.class
/FirstDayAtSchoolTest.class
/JunitTest1.class
/JunitTest2.class
/JunitTestCaseSuit.class
/MessageUtil.class
/PrepareMyBagTest.class
/Rough.class
/TestRunner1.class
